{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Error' %}
{% endblock title %}

{% block content %}
<section>
    <div class="box center">
        <div class="box_body">
            <div class="field text_center">
                <h2>{% trans "Oops something went wrong!" %}</h2>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
        <div class="box_alert">
            <a>{{ message }}</a>
        </div>
            {% endfor %}
        {% endif %}
        <div class="box_footer">
            <button class="button cur_pointer" onclick="window.location='{% url 'index' %}';">{% trans "Back" %}</button>
        </div>
    </div>
</section>
{% endblock content %}