{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'New Password' %}
{% endblock title %}

{% block content %}
<section>
    <div class="box center">
        <form id="form" method="post">
            {% csrf_token %}
            <div class="box_head">
                <i class="fa fa-arrow-left box_head_back cur_pointer" onclick="window.location='{% url 'index' %}';"></i>
                <a class="box_head_title">{% trans 'New Password' %}</a>
            </div>
            <div class="box_body">
                <div class="field">
                    <!--<label class="label">{% trans "Password:" %}</label>-->
                    <label class="label">{{ form.password1.label_tag }}</label>
                    <input class="input cur_text" type="Password" name="password1" id="password_input" placeholder="********">
                    <a class="error">{{ form.password1.errors }}</a>
                </div>
                <div class="field">
                    <!--<label class="label">{% trans "Confirmation Password:" %}</label>-->
                    <label class="label">{{ form.password2.label_tag }}</label>
                    <input class="input cur_text" type="Password" name="password2" id="password2_input" placeholder="********">
                    <a class="error">{{ form.password2.errors }}</a>
                </div>
                <a class="error">{{ form.non_field_errors }}</a>
                <div class="field">
                    <label class="label_2 horizontal">{% trans "Do you already have an account?" %} 
                        <a class="link_2 right cur_pointer" onclick="window.location='{% url 'login' %}';">{% trans "login" %}</a>
                    </label>
                </div>
            </div>
            <div class="box_footer">
                <button class="button cur_pointer" type="submit">{% trans "Reset" %}</button>
            </div>
            {% if messages %}
                {% for message in messages %}
            <div class="box_alert">
                <a>{{ message }}</a>
            </div>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</section>
{% endblock content %}