{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Password Reset' %}
{% endblock title %}

{% block content %}
<section>
    <div class="box center">
        <form id="form" method="post">
            {% csrf_token %}
            <div class="box_head">
                <i class="box_head_back fa fa-arrow-left cur_pointer" onclick="window.location='{% url 'login' %}';"></i>
                <a class="box_head_title">{% trans 'PASSWORD RESET' %}</a>
            </div>
            <div class="box_body">
                <div class="field">
                    <!--<label class="label">{% trans "Email address:" %}</label>-->
                    <label class="label">{{ form.email.label_tag }}</label>
                    <input class="input cur_text" type="Email" name="email" id="email_input" placeholder="example@gmail.com">
                    <a class="error">{{ form.email.errors }}</a>
                </div>
            </div>
            <div class="box_footer">
                <button class="button cur_pointer" type="submit">{% trans "Send" %}</button>
            </div>
            {% if form.non_field_errors %}
            <div class="box_alert"> 
                <a class="error">{{ form.non_field_errors }}</a>
            </div>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
            <div class="box_alert">
                <a>{{ message }}</a>
            </div>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</section>
{% endblock content %}