{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Verify' %}
{% endblock title %}

{% block content %}
<section>
    <div class="box center">
        <div class="box_body">
            <div class="field text_center">
                <h2>{% trans "We have sent an email to your account" %}</h2>
                <h3>{% trans "Please check your mail" %}</h3>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
        <div class="box_alert">
            <a>{{ message }}</a>
        </div>
            {% endfor %}
        {% endif %}
        <div class="box_footer">
            <button class="button cur_pointer" onclick="window.location='{% url 'login' %}';">{% trans "Log in" %}</button>
        </div>
    </div>
</section>
{% endblock content %}