<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %} - Social Media App</title>
        <meta charset="UTF-8">
        <meta name="title" content="Social Media App"/>
        <meta name="description" content="Social Media App"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'library/styles/all.css' %}">
        <link rel="stylesheet" href="{% static 'library/styles/darkui.css' %}">
        <script src="{% static 'library/scripts/darkui.js' %}"></script>
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/modern.css' %}">
        {% block head %}
        {% endblock head %}
    </head>
    <body class="zoom cur_default">
        {% block content %}
        {% endblock content %}
        {% block scripts %}
        {% endblock scripts %}
    </body>
    <section id="friend_section" class="section z_10" style="visibility: hidden;">
        <div class="box center">
            <form id="request_friend_form" action="{% url 'friend_request' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="box_head">
                    <a class="box_head_title">{% trans 'Request Friend' %}</a>
                    <i class="fa fa-close box_head_cancel cur_pointer" onclick="close_section(friend_section);"></i>
                </div>
                <div class="box_body">
                    <div class="field">
                        <label class="label">{% trans "Username:" %}</label>
                        <input id="friend_request_form_input" name="email" class="input clear_this cur_text font_light" type="text" name="username" placeholder="{% trans 'Example' %}">
                        <a id="friend_request_form_error" class="error clear_this"></a>
                    </div>
                </div>
                <div class="box_footer">
                    <!--
                    <button class="button cur_pointer" onclick="friend_request();">
                    -->
                    <button class="button cur_pointer" type="submit">
                        {% trans "Send Request" %}
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div id="friend_section_loader" class="loader"></div>
                    </button>
                </div>
            </form>
        </div>
    </section>
    
    <section id="image_section" class="section z_15" style="visibility: hidden;" onclick="close_section(image_section);">
        <div class="image_section box center">
            <div class="box_body">
                <div class="field">
                    <img id="image_section_image"/>
                </div>
            </div>
        </div>
    </section>
</HTML>