{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load custom_tags %}

{% block title %}{% trans 'Main' %}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/main.css' %}"/>
{% endblock head %}

{% block content %}
<section class="horizontal">

    <form id="friend_form" method="get">
        <input id="friend_form_input" type="hidden" value="" name="dm">
    </form>
    <form id="page_form" method="get">
        <input id="page_form_input" type="hidden" value="" name="pg">
    </form>
    <form id="post_detail_form" method="get">
        <input id="post_detail_form_input" type="hidden" value="" name="pd">
    </form>
    <form id="profile_view_form" method="get">
        <input id="profile_view_form_input" type="hidden" value="" name="pv">
    </form>
    <form id="delete_post_form" method="post">{% csrf_token %}</form>
    
    <div id="main" class="main">
    {% with profile_view=request.GET.pv|default:'' %}
        {% if profile_view != '' %}
        <div id="chat_messages" class="chat_messages posts vertical width_max scroll_y animations_0" onscroll="checkScroll();">
            <div class="shadow_3">&nbsp;</div>
            <div id="scroll_top" class="item cur_pointer" onclick="scrollToTop();">
                <i class="item_icon fa fa-arrow-up font_light"></i>
                <a class="item_text font_light">{% trans "Scroll to top" %}</a>
            </div>
            <div class="profile_box">
                <div class="field">
                    <img id="profile_image" class="profile_box_image cur_pointer" src="{{ user.image.url }}" onclick="open_section(image_section, this.src);">
                </div>
                <div class="field horizontal">
                    <a class="label profile_label">{{ user.username }}</a>
                </div>
                <div class="field horizontal">
                    <a class="label">{{ user.email }}</a>
                </div>
                <div class="horizontal width_max">
                    <div class="field right">
                        {% if user.first_name or user.last_name %}
                        <div class="field horizontal font_light">
                            <a class="label">{% trans "Full Name:" %}</a>
                            <a class="label margin_left_10">{{ user.first_name }}  {{ user.last_name }}</a>
                        </div>
                        {% endif %}
                        {% if user.bio %}
                        <div class="field horizontal font_light">
                            <a class="label">{% trans "Bio:" %}</a>
                            <a class="label margin_left_10">{{ user.bio }}</a>
                        </div>
                        {% endif %}
                    </div>
                    {% if user.firs_name or user.last_name or user.bio %}
                    <div class="spacer_3">&nbsp;</div>
                    {% endif %}
                    <div class="field left">
                        {% if user.location %}
                        <div class="field horizontal font_light">
                            <a class="label">{% trans "Location:" %}</a>
                            <a class="label margin_left_10">{{ user.location }}</a>
                        </div>
                        {% endif %}
                        {% if user.birth_date %}
                        <div class="field horizontal font_light">
                            <a class="label">{% trans "Birth Date:" %}</a>
                            <a class="label margin_left_10">{{ user.birth_date }}</a>
                        </div>
                        {% endif %}
                        {% if user.gender != "NONE" %}
                        <div class="field horizontal font_light">
                            <a class="label">{% trans "Gender:" %}</a>
                            <a class="label margin_left_10">{{ user.gender }}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="field horizontal">
                    {% if not user in friends %}
                        {% for requested_friend in requested_friends %}
                            {% if user == requested_friend.receiver %}
                    <div id="friend_profile"></div>
                    <button id="friend_profile_request_cancel" class="button red cur_pointer" onclick="">{% trans "Cancel friend request" %}</button>
                            {% endif %}
                        {% endfor %}
                        {% for friend_request in friend_requests %}
                            {% if user == friend_request.sender %}
                    <div id="friend_profile"></div>
                    <button class="button cur_pointer" onclick="">{% trans "Accept friend request" %}</button>
                    <div class="spacer_3"></div>
                    <button class="button red cur_pointer" onclick="">{% trans "Decline friend request" %}</button>
                            {% endif %}
                        {% endfor %}
                    <button id="friend_profile_send_request" style="display: none;" class="button cur_pointer" onclick="friend_request('{{ user.username }}');">{% trans "Send friend request" %}</button>
                    {% endif %}
                </div>
            </div>
            <div id="scroll_bottom" class="item cur_pointer" onclick="scrollToBottom();">
                <i class="item_icon fa fa-arrow-down font_light"></i>
                <a class="item_text font_light">{% trans "Scroll to bottom" %}</a>
            </div>
        </div>
        {% endif %}
    {% endwith %}

    {% with page=request.GET.pg|default:'' %}
        {% if page == 'settings' %}
        <div class="shadow_3">&nbsp;</div>
        <div id="scroll_top" class="item cur_pointer" onclick="scrollToTop();">
            <i class="item_icon fa fa-arrow-up font_light"></i>
            <a class="item_text font_light">{% trans "Scroll to top" %}</a>
        </div>
        <div class="box center">
            <div class="box_body">
                <div class="field horizontal align_vertical_center">
                    <i class="fa fa-globe fa-spin-hover font_light font_20 margin_right_20"></i>
                    <label class="label">{% trans "Language:" %}</label>
                    <div class="custom-select width_100 right font_16 cur_pointer">
                        <select name="languages" id="languages" class="right font_16 cur_pointer">
                            <option value="en" selected="">{% trans "English" %}</option>
                            <option value="en">{% trans "English" %}</option>
                            <option value="ru">{% trans "Russian" %}</option>
                            <option value="tr">{% trans "Turkish" %}</option>
                            <option value="tk">{% trans "Turkmen" %}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="box_body">
                <div class="field horizontal align_vertical_center">
                    <i class="fa fa-computer-mouse fa-bounce-hover font_light font_20 margin_right_20"></i>
                    <label class="label">{% trans "Cursor:" %}</label>
                    <div class="custom-select width_100 right font_16 cur_pointer">
                        <select name="cursors" id="cursors" class="right cur_pointer font_16">
                            <option value="DARK" selected="">{% trans "Dark" %}</option>
                            <option value="DARK">{% trans "Dark" %}</option>
                            <option value="LIGHT">{% trans "Light" %}</option>
                            <option value="DEFAULT">{% trans "Default" %}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="box_body">
                <div class="field horizontal align_vertical_center">
                    <i class="fa fa-volume-high fa-fade-hover font_light font_20 margin_right_20"></i>
                    <label class="label">{% trans "Sounds:" %}</label>
                    <label class="switch right">
                        <input type="checkbox" checked>
                        <span class="slider round cur_pointer"></span>
                    </label>
                </div>
            </div>
            <div class="box_body">
                <div class="field horizontal align_vertical_center">
                    <i class="fa fa-leaf fa-beat-hover font_light font_20 margin_right_20"></i>
                    <label class="label">{% trans "Animations:" %}</label>
                    <label class="switch right">
                        <input id="animations" type="checkbox" onchange="animaitons();" checked>
                        <span class="slider round cur_pointer"></span>
                    </label>
                </div>
            </div>
            <div class="box_body">
                <div class="field horizontal align_vertical_center">
                    <i class="fa fa-bell fa-shake-hover font_light font_20 margin_right_20"></i>
                    <label class="label">{% trans "Notifications:" %}</label>
                    <label class="switch right">
                        <input type="checkbox" checked>
                        <span class="slider round cur_pointer"></span>
                    </label>
                </div>
            </div>
        </div>
        <div id="scroll_bottom" class="item cur_pointer" onclick="scrollToBottom();">
            <i class="item_icon fa fa-arrow-down font_light"></i>
            <a class="item_text font_light">{% trans "Scroll to bottom" %}</a>
        </div>
        {% else %}
        <input id="cursor" class='hidden' type="checkbox" onchange="cursor();" checked>
        <input id="animations" class='hidden' type="checkbox" onchange="animaitons();" checked>
        {% endif %}
    {% endwith %}

    {% with page=request.GET.pg|default:'' %}
        {% if page == 'profile' %}
        <div id="chat_messages" class="chat_messages posts vertical width_max scroll_y animations_0" onscroll="checkScroll();">
            <div class="shadow_3">
                <div class="field horizontal cur_pointer right margin_top_10 margin_right_20 font_light" onclick="open_section(edit_profile_section);" onmouseover="profile_edit.classList.add('fa-bounce');" onmouseout="profile_edit.classList.remove('fa-bounce');">
                    <label class="label">{% trans "Edit Profile" %}</label>
                    <i id="profile_edit" class="fa fa-pencil post_item"></i>
                </div>
            </div>
            <div id="scroll_top" class="item cur_pointer" onclick="scrollToTop();">
                <i class="item_icon fa fa-arrow-up font_light"></i>
                <a class="item_text font_light">{% trans "Scroll to top" %}</a>
            </div>
            <div class="profile_box">
                <div class="field">
                    <img id="profile_image" class="profile_box_image cur_pointer" src="{{ request.user.image.url }}" onclick="open_section(image_section, this.src);">
                </div>
                <div class="field horizontal">
                    <a class="label profile_label">{{ request.user.username }}</a>
                </div>
                <div class="field horizontal">
                    <a class="label">{{ request.user.email }}</a>
                </div>
                <div class="horizontal width_max">
                    <div class="field right">
                        {% if request.user.first_name or request.user.last_name %}
                        <div class="field horizontal font_light">
                            <a class="label">{% trans "Full Name:" %}</a>
                            <a class="label margin_left_10">{{ request.user.first_name }}  {{ request.user.last_name }}</a>
                        </div>
                        {% endif %}
                        {% if request.user.bio %}
                        <div class="field horizontal font_light">
                            <a class="label">{% trans "Bio:" %}</a>
                            <a class="label margin_left_10">{{ request.user.bio }}</a>
                        </div>
                        {% endif %}
                    </div>
                    {% if request.user.firs_name or request.user.last_name or request.user.bio %}
                    <div class="spacer_3">&nbsp;</div>
                    {% endif %}
                    <div class="field left">
                        {% if request.user.location %}
                        <div class="field horizontal font_light">
                            <a class="label">{% trans "Location:" %}</a>
                            <a class="label margin_left_10">{{ request.user.location }}</a>
                        </div>
                        {% endif %}
                        {% if request.user.birth_date %}
                        <div class="field horizontal font_light">
                            <a class="label">{% trans "Birth Date:" %}</a>
                            <a class="label margin_left_10">{{ request.user.birth_date }}</a>
                        </div>
                        {% endif %}
                        {% if request.user.gender != "NONE" %}
                        <div class="field horizontal font_light">
                            <a class="label">{% trans "Gender:" %}</a>
                            <a class="label margin_left_10">{{ request.user.gender }}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>      
                <div class="field horizontal">
                    <button class="button red cur_pointer" onclick="window.location={% url 'logout' %};">{% trans "Logout" %}</button>
                </div>
                <!--
                <div class="field horizontal">
                    <a class="label">{% trans "Last Seen:" %}</a>
                    <a class="label">{{ request.user.last_login }}</a>
                </div>
                -->
            </div>
            <!--
            <div class="post_box">       
                {% for post in item_list %}
                <div class="post box center">
                    {% if post.user == request.user %}
                    <div class="box_head dark_blue">
                    {% else %}
                    <div class="box_head">
                    {% endif %}
                        <div class="field horizontal">
                            <img class="post_user_image" src="{{ post.user.photo.url }}"/>
                            <a class="box_head_title">{{ post.user.username }}</a>
                        </div>
                        {% if post.user == request.user %}
                            {% if post.image %}
                        <div class="field horizontal right cur_pointer font_light" onclick="delete_post_form.action='{% url 'delete_post' post.pk %}';edit_post_form.action='{% url 'edit_post' post.pk %}';open_section(edit_post_section, '{{ post.image.url }}', '{{ post.content }}', post_image_{{ post.id }});" onmouseover="post_icon_{{ post.id }}.classList.add('fa-bounce');" onmouseout="post_icon_{{ post.id }}.classList.remove('fa-bounce');">
                            {% else %}
                        <div class="field horizontal right cur_pointer font_light" onclick="delete_post_form.action='{% url 'delete_post' post.pk %}';edit_post_form.action='{% url 'edit_post' post.pk %}';open_section(edit_post_section, null, '{{ post.content }}');" onmouseover="post_icon_{{ post.id }}.classList.add('fa-bounce');" onmouseout="post_icon_{{ post.id }}.classList.remove('fa-bounce');">
                            {% endif %}
                            <label class="label post_item">{% trans "Edit Post" %}</label>
                            <i id="post_icon_{{ post.id }}" class="fa fa-pencil"></i>
                        </div>
                        {% endif %}
                    </div>
                    <div class="box_body">
                        {% if post.image %}
                        <div class="field">
                            <img id="post_image_{{ post.id }}" class="post_image cur_pointer" src="{{ post.image.url }}" onclick="open_section(image_section, this.src);"/>
                        </div>
                        {% endif %}
                        {% if post.content %}
                        <div class="field left">
                            <pre class="post_content paragraph font_16">{{ post.content }}</pre>
                        </div>
                        {% endif %}
                    </div>
                    <div class="box_footer">
                        <div class="relative horizontal">
                            <div class="field absolute_left">
                                <label class="post_date_time label">{{ post.created_date_time|naturaltime }}</label>
                            </div>
                            <div class="field horizontal font_light center fa-bounce-hover cur_pointer" onclick="post_detail_form_input.value='{{ post.hash }}';post_detail_form.submit();">
                                {% if post.comments.all.count %}
                                <label class="label">{{ post.comments.all.count }}</label>
                                {% else %}
                                <label class="label">0</label>
                                {% endif %}
                                <i class="fa fa-message font_light post_item font_blue"></i>
                            </div>
                            <div class="field horizontal absolute_right">
                                <i class="fa fa-thumbs-up font_light fa-shake-hover post_item cur_pointer font_green"></i>
                                <label class="label">0</label>
                                <i class="fa fa-thumbs-down font_light fa-shake-hover post_item cur_pointer font_red"></i>
                                <label class="label">0</label>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            -->
            <div id="scroll_bottom" class="item cur_pointer" onclick="scrollToBottom();">
                <i class="item_icon fa fa-arrow-down font_light"></i>
                <a class="item_text font_light">{% trans "Scroll to bottom" %}</a>
            </div>
        </div>
        {% endif %}
    {% endwith %}

    {% with friend=request.GET.dm|default:'' %}
        {% if friend != '' %}
        <div class="shadow">&nbsp;</div>
        <div id="scroll_top_chat" class="item cur_pointer" onclick="scrollToTop();">
            <i class="item_icon fa fa-arrow-up font_light"></i>
            <a class="item_text font_light">{% trans "Scroll to top" %}</a>
        </div>
        <div id="chat_messages" class="chat_messages smooth_scroll vertical width_max scroll_y animations_0" onscroll="checkScroll();">
            <div class="message_user spacer_2">&nbsp;</div>
            {% for message in item_list %}
                {% if message.sender == request.user %}
            <div class="message_box_rigth right margin_right_20">
                <div class="message_right">
                    <a class="message_text font_light">{{ message.content }}</a>
                </div>
                <div><a>{{ message.sent_date_time|naturaltime }}</a></div>
            </div>
                {% else %}
            <div class="message_user message_box">
                <div class="user_field top cur_pointer" onclick="profile_view_form_input.value='{{ message.sender.hash }}';profile_view_form.submit();">
                    <img class="user_field_img radius_20" src="{{ message.sender.photo.url }}"></img>
                </div>
                <div class="message_field">
                    <a class="message_field_text font_light cur_pointer" onclick="profile_view_form_input.value='{{ message.sender.hash }}';profile_view_form.submit();">{{ message.sender.username }}</a>
                    <div class="message">
                        <a class="message_text font_light">{{ message.content }}</a>
                    </div>
                    <div><a>{{ message.sent_date_time|naturaltime }}</a></div>
                </div>
            </div>
                {% endif %} 
            {% endfor %}
            <div id="chat_spacer" class="message_user spacer">&nbsp;</div>
        </div>
        <div id="scroll_bottom_chat" class="item cur_pointer" onclick="scrollToBottom();">
            <i class="item_icon fa fa-arrow-down font_light"></i>
            <a class="item_text font_light">{% trans "Scroll to bottom" %}</a>
        </div>
        <div id="send_form" class="sender bottom width_600">
            <i class="fa fa-microphone sender_icon cur_pointer font_light fa-fade-hover"></i>
            <input id="chat_message_input" class="sender_input cur_text font_light" name="content" type="text" placeholder="{% trans 'Type a message' %}">
            <i class="fa fa-plus-square sender_icon cur_pointer font_light fa-beat-hover"></i>
            <i id="chat_message_submit" class="fa fa-paper-plane sender_icon cur_pointer font_light fa-shake-hover" onclick="send_message();"></i>
        </div>
        {% endif %}
    {% endwith %}

    {% with page=request.GET.pg|default:'' %}
        {% if page == 'posts' %}
        <div class="shadow_3">
            <div id="add_post" class="button cur_pointer" onclick="open_section(post_section);">
                <i class="item_icon fa fa-plus-square font_light"></i>
                <a class="item_text font_light">{% trans "Share Post" %}</a>
            </div>
        </div>
        <div id="scroll_top" class="item cur_pointer" onclick="scrollToTop();">
            <i class="item_icon fa fa-arrow-up font_light"></i>
            <a class="item_text font_light">{% trans "Scroll to top" %}</a>
        </div>
        <div id="chat_messages" class="chat_messages posts vertical width_max scroll_y animations_0" onscroll="checkScroll();">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            {% for post in item_list %}
            <div class="post box center">
                {% if post.user == request.user %}
                <div class="box_head dark_blue">
                    <div class="field horizontal cur_pointer" onclick="page('profile');">
                {% else %}
                <div class="box_head">
                    <div class="field horizontal cur_pointer" onclick="profile_view_form_input.value='{{ post.user.hash }}';profile_view_form.submit();">
                {% endif %}
                        <img class="post_user_image" src="{{ post.user.photo.url }}"/>
                        <a class="box_head_title">{{ post.user.username }}</a>
                    </div>
                    {% if post.user == request.user %}
                        {% if post.image %}
                    <div class="field horizontal right cur_pointer font_light" onclick="delete_post_form.action='{% url 'delete_post' post.pk %}';edit_post_form.action='{% url 'edit_post' post.pk %}';open_section(edit_post_section, '{{ post.image.url }}', '{{ post.content }}', post_image_{{ post.id }});" onmouseover="post_icon_{{ post.id }}.classList.add('fa-bounce');" onmouseout="post_icon_{{ post.id }}.classList.remove('fa-bounce');">
                        {% else %}
                    <div class="field horizontal right cur_pointer font_light" onclick="delete_post_form.action='{% url 'delete_post' post.pk %}';edit_post_form.action='{% url 'edit_post' post.pk %}';open_section(edit_post_section, null, '{{ post.content }}');" onmouseover="post_icon_{{ post.id }}.classList.add('fa-bounce');" onmouseout="post_icon_{{ post.id }}.classList.remove('fa-bounce');">
                        {% endif %}
                        <label class="label post_item">{% trans "Edit Post" %}</label>
                        <i id="post_icon_{{ post.id }}" class="fa fa-pencil"></i>
                    </div>
                    {% endif %}
                </div>
                <div class="box_body">
                    {% if post.image %}
                    <div class="field">
                        <img id="post_image_{{ post.id }}" class="post_image cur_pointer" src="{{ post.image.url }}" onclick="open_section(image_section, this.src);"/>
                    </div>
                    {% endif %}
                    {% if post.content %}
                    <div class="field left">
                        <pre class="post_content paragraph font_16">{{ post.content }}</pre>
                    </div>
                    {% endif %}
                </div>
                <div class="box_footer">
                    <div class="relative horizontal">
                        <div class="field absolute_left">
                            <label class="post_date_time label">{{ post.created_date_time|naturaltime }}</label>
                        </div>
                        <div class="field horizontal font_light center fa-bounce-hover cur_pointer" onclick="post_detail_form_input.value='{{ post.hash }}';post_detail_form.submit();">
                            {% if post.comments.all.count %}
                            <label class="label">{{ post.comments.all.count }}</label>
                            {% else %}
                            <label class="label">0</label>
                            {% endif %}
                            <i class="fa fa-message font_light post_item font_blue"></i>
                        </div>
                        <div class="field horizontal absolute_right">
                            <i class="fa fa-thumbs-up font_light fa-shake-hover post_item cur_pointer font_green" onclick="window.location='{% url 'like_post' post.id %}';"></i>
                            {% if post.liked_users.all.count %}
                            <label class="label">{{ post.liked_users.all.count }}</label>
                            {% else %}
                            <label class="label">0</label>
                            {% endif %}
                            <i class="fa fa-thumbs-down font_light fa-shake-hover post_item cur_pointer font_red" onclick="window.location='{% url 'dislike_post' post.id %}';"></i>
                            {% if post.disliked_users.all.count %}
                            <label class="label">{{ post.disliked_users.all.count }}</label>
                            {% else %}
                            <label class="label">0</label>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>
        <div id="scroll_bottom" class="item cur_pointer" onclick="scrollToBottom();">
            <i class="item_icon fa fa-arrow-down font_light"></i>
            <a class="item_text font_light">{% trans "Scroll to bottom" %}</a>
        </div>
        {% endif %}
    {% endwith %}

    {% with post_detail=request.GET.pd|default:'' %}
        {% if post_detail != '' %}
        <div class="shadow_3">
            <div class="margin_left_20 margin_right_20">&nbsp;</div>
            <div id="cancel_post_detail" class="item_active cur_pointer font_light" onclick="page('posts');">
                <i class="item_icon fa fa-arrow-left"></i>
                <a class="item_text font_light">{% trans "Back" %}</a>
            </div>
            <div class="right">&nbsp;</div>
        </div>
        <div id="scroll_top" class="item cur_pointer" onclick="scrollToTop();">
            <i class="item_icon fa fa-arrow-up font_light"></i>
            <a class="item_text font_light">{% trans "Scroll to top" %}</a>
        </div>
        <div id="chat_messages" class="chat_messages posts vertical width_max scroll_y animations_0" onscroll="checkScroll();">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            {% if post %}
            <div class="post box center">
                {% if post.user == request.user %}
                <div class="box_head dark_blue">
                    <div class="field horizontal cur_pointer" onclick="page('profile');">
                {% else %}
                <div class="box_head">
                    <div class="field horizontal cur_pointer" onclick="profile_view_form_input.value='{{ post.user.hash }}';profile_view_form.submit();">
                {% endif %}
                        <img class="post_user_image" src="{{ post.user.photo.url }}"/>
                        <a class="box_head_title">{{ post.user.username }}</a>
                    </div>
                    {% if post.user == request.user %}
                        {% if post.image %}
                    <div class="field horizontal right cur_pointer font_light" onclick="delete_post_form.action='{% url 'delete_post' post.pk %}';edit_post_form.action='{% url 'edit_post' post.pk %}';open_section(edit_post_section, '{{ post.image.url }}', '{{ post.content }}', post_image_{{ post.id }});" onmouseover="post_icon_{{ post.id }}.classList.add('fa-bounce');" onmouseout="post_icon_{{ post.id }}.classList.remove('fa-bounce');">
                        {% else %}
                    <div class="field horizontal right cur_pointer font_light" onclick="delete_post_form.action='{% url 'delete_post' post.pk %}';edit_post_form.action='{% url 'edit_post' post.pk %}';open_section(edit_post_section, null, '{{ post.content }}');" onmouseover="post_icon_{{ post.id }}.classList.add('fa-bounce');" onmouseout="post_icon_{{ post.id }}.classList.remove('fa-bounce');">
                        {% endif %}
                        <label class="label post_item">{% trans "Edit Post" %}</label>
                        <i id="post_icon_{{ post.id }}" class="fa fa-pencil"></i>
                    </div>
                    {% endif %}
                </div>
                <div class="box_body">
                    {% if post.image %}
                    <div class="field">
                        <img id="post_image_{{ post.id }}" class="post_image cur_pointer" src="{{ post.image.url }}" onclick="open_section(image_section, this.src);"/>
                    </div>
                    {% endif %}
                    {% if post.content %}
                    <div class="field left">
                        <pre class="post_content paragraph font_16">{{ post.content }}</pre>
                    </div>
                    {% endif %}
                </div>
                <div class="box_footer">
                    <div class="relative horizontal">
                        <div class="field absolute_left">
                            <label class="post_date_time label">{{ post.created_date_time|naturaltime }}</label>
                        </div>
                        <div class="field horizontal font_light center fa-bounce-hover cur_pointer">
                            {% if post.comments.all.count %}
                            <label id="post_comment_count" class="label">{{ post.comments.all.count }}</label>
                            {% else %}
                            <label id="post_comment_count" class="label">0</label>
                            {% endif %}
                            <i class="fa fa-message font_light post_item font_blue"></i>
                        </div>
                        <div class="field horizontal absolute_right">
                            <i class="fa fa-thumbs-up font_light fa-shake-hover post_item cur_pointer font_green" onclick="like_post();"></i>
                            {% if post.liked_users.all.count %}
                            <label id="likes" class="label">{{ post.liked_users.all.count }}</label>
                            {% else %}
                            <label id="likes" class="label">0</label>
                            {% endif %}
                            <i class="fa fa-thumbs-down font_light fa-shake-hover post_item cur_pointer font_red" onclick="dislike_post();"></i>
                            {% if post.disliked_users.all.count %}
                            <label id="dislikes" class="label">{{ post.disliked_users.all.count }}</label>
                            {% else %}
                            <label id="dislikes" class="label">0</label>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% for comment in item_list %}
                {% if comment.user == request.user %}
            <div class="right">
                <div class="message_box_rigth right margin_right_20">
                    <div class="message_right">
                        <a class="message_text font_light">{{ comment.content }}</a>
                    </div>
                    <div>{{ comment.sent_date_time|naturaltime }}</div>
                </div>
            </div>
                {% else %}
            <div class="message_user message_box left">
                <div class="user_field top cur_pointer" onclick="profile_view_form_input.value='{{ comment.user.hash }}';profile_view_form.submit();">
                    <img class="user_field_img radius_20" src="{{ comment.user.photo.url }}"></img>
                </div>
                <div class="message_field">
                    <a class="message_field_text font_light cur_pointer" onclick="profile_view_form_input.value='{{ comment.user.hash }}';profile_view_form.submit();">{{ comment.user.username }}</a>
                    <div class="message">
                        <a class="message_text font_light">{{ comment.content }}</a>
                    </div>
                    {{ comment.sent_date_time|naturaltime }}
                </div>
            </div>
                {% endif %} 
            {% endfor %}
            <div id="chat_spacer" class="message_user spacer">&nbsp;</div>
        </div>
        <div id="scroll_bottom_chat" class="item cur_pointer" onclick="scrollToBottom();">
            <i class="item_icon fa fa-arrow-down font_light"></i>
            <a class="item_text font_light">{% trans "Scroll to bottom" %}</a>
        </div>
        <div id="send_form" class="sender bottom width_600">
            <i class="fa fa-microphone sender_icon cur_pointer font_light fa-fade-hover"></i>
            <input id="chat_message_input" class="sender_input cur_text font_light" name="content" type="text" placeholder="{% trans 'Type a message' %}">
            <i class="fa fa-plus-square sender_icon cur_pointer font_light fa-beat-hover"></i>
            <i id="chat_message_submit" class="fa fa-paper-plane sender_icon cur_pointer font_light fa-shake-hover" onclick="send_comment();"></i>
        </div>
        {% endif %}
    {% endwith %}
        <div class="shadow_2">&nbsp;</div>
    </div>

    <div id="side" class="side">
        <div class="notification_bar font_light" onmouseover="bell_icon.classList.add('fa-shake');" onmouseout="bell_icon.classList.remove('fa-shake');">
            {% if friend_requests %}
                <i id="bell_icon" class="notification_bar_icon fa fa-bell font_light fa-shake"></i>
                <a class="notification_bar_text font_light">{% trans "Notifications" %}</a>
                <div class="badge right">
                <a class="badge_text font_light">{{ friend_requests|length }}</a>
            {% else %}
                <i id="bell_icon" class="notification_bar_icon fa fa-bell font_light fa-shake-hover"></i>
                <a class="notification_bar_text font_light">{% trans "Notifications" %}</a>
                <div class="badge right">
                <a class="badge_text font_light">0</a>
            {% endif %}
            </div>

        </div>
        {% if friend_requests %}
        <div class="width_auto vertical cur_pointer">
            <div class="grouper width_auto" onclick="grouper(friend_requests_grouper, friend_requests_grouper_icon);">
                <i id="friend_requests_grouper_icon" class="fa fa-angle-down font_light"></i>
                <a class="grouper_text font_light">{% trans "FRIEND REQUESTS" %}</a>
            </div>
            <div id="friend_requests_grouper">
                {% for friend_request in friend_requests %}
                <div class="item cur_pointer dropdown dropbtn" onclick="on_dropdown_click(dropdown_request_{{ friend_request.id }});">
                    <img src="{{ friend_request.sender.photo.url }}" class="item_img"></img>
                    <a class="item_text font_light">{{ friend_request.sender.username }}</a>
                    <i class="profile_bar_i fa fa-ellipsis-vertical cur_pointer dropbtn font_light"></i>
                    <div id="dropdown_request_{{ friend_request.id }}" class="dropdown-content">
                        <div class="drop_item horizontal" onclick="profile_view_form_input.value='{{ friend_request.sender.hash }}';profile_view_form.submit();">
                            <i class="drop_item_icon fa fa-address-card font_light"></i>
                            <a class="drop_item_text font_light">{% trans "Profile" %}</a>
                        </div>
                        <div class="drop_item horizontal" onclick="window.location='{% url 'friend_request_accept' friend_request.sender.email %}';">
                            <i class="drop_item_icon fa fa-check font_green font_light"></i>
                            <a class="drop_item_text font_light">{% trans "Accept" %}</a>  
                        </div>
                        <div class="drop_item horizontal" onclick="window.location='{% url 'friend_request_decline' friend_request.sender.email %}';">
                            <i class="drop_item_icon fa fa-cancel font_red font_light"></i>
                            <a class="drop_item_text font_light">{% trans "Decline" %}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

</section>

<section id="friend_section" class="section z_10">
    <div class="box center">
        <form id="request_friend_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="box_head">
                <a class="box_head_title">{% trans 'Request Friend' %}</a>
                <i class="fa fa-close box_head_cancel cur_pointer" onclick="close_section(friend_section);"></i>
            </div>
            <div class="box_body">
                <div class="field">
                    <label class="label">{% trans "Username:" %}</label>
                    <input id="friend_request_form_input" name="email" class="input clear_this cur_text font_light" type="text" name="username" placeholder="{% trans 'Example' %}">
                    <a id="friend_request_form_error" class="error clear_this"></a>
                </div>
            </div>
            <div class="box_footer">
                <!--
                <button class="button cur_pointer" onclick="friend_request();">
                -->
                    <button class="button cur_pointer" type="submit" value="{% url 'friend_request' %}">
                        {% trans "Send Request" %}
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div id="friend_section_loader" class="loader"></div>
                    </button>
            </div>
        </form>

    </div>
</section>

{% with page=request.GET.pg|default:''%}
<section id="post_section" class="section z_10">
    <div class="box center width_500">
        <form method="post" action="{% url 'create_post' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="box_head">
                <a class="box_head_title">{% trans 'Create Post' %}</a>
                <i class="fa fa-close box_head_cancel cur_pointer" onclick="close_section(post_section); clearUrl('{{ request.GET.pg }}');"></i>
            </div>
            <div class="box_body">
                <div class="field">
                    <label class="label">{% trans "Description:" %}</label>
                    <textarea id="post_form_content_input" maxlength="249" class="input clear_this resize_none cur_text font_light" type="text" name="content" placeholder="{% trans 'Type something...' %}" oninput="TextArea(this);"></textarea>
                </div>
                <div class="field">
                    <label class="label">{% trans "Image:" %}</label>
                    <input id="post_form_image_input" class="input clear_this cur_pointer font_light" type="file" name="image" accept="image/*">
                </div>
            </div>
            <div class="box_footer">
                <button type="submit" class="button cur_pointer">{% trans "Share Post" %}</button>
            </div>
        </form>
    </div>
</section>
{% endwith %}

{% with page=request.GET.pg|default:'' %}
<section id="edit_post_section" class="section z_10">
    <div class="box center width_500">
        {% with pk=request.GET.pk|default:None %}
            {% if pk %}
        <form id="edit_post_form" method="post" enctype="multipart/form-data" action="{% url 'edit_post' pk %}">
            {% else %}
        <form id="edit_post_form" method="post" enctype="multipart/form-data">
            {% endif %}
        {% endwith %}
            {% csrf_token %}
            <div class="box_head">
                <a class="box_head_title">{% trans 'Edit Post' %}</a>
                <i class="fa fa-close box_head_cancel cur_pointer" onclick="close_section(edit_post_section); clearUrl('{{ request.GET.pg }}');"></i>
            </div>
            <div class="box_body">
                <div class="field">
                    <label class="label">{% trans "Description:" %}</label>
                    <textarea id="edit_post_form_content_input" maxlength="249" class="input clear_this resize_none cur_text font_light" type="text" name="content" placeholder="{% trans 'Type something...' %}" oninput="TextArea(this);"></textarea>
                </div>
                <div class="field">
                    <label class="label">{% trans "Image:" %}</label>
                    <input id="edit_post_form_image_input" class="input clear_this cur_pointer font_light" type="file" name="image" accept="image/*">
                </div>
                <!--
                <div class="field horizontal align_vertical_center">
                    <label class="label margin_right_20">{% trans "Do not use image:" %}</label>
                    <input id="edit_post_form_checkbox" class="input cur_pointer font_light" name="delete_image" type="checkbox">
                </div>
                -->
            </div>
            <div class="box_footer horizontal">
                <div onclick="delete_post_form.submit();" class="button cur_pointer width_200 red">{% trans "Delete Post" %}</div>
                <div class="center">&nbsp;</div>
                <button onclick="" type="submit" class="button width_200 cur_pointer">{% trans "Save Post" %}</button>
            </div>
        </form>
    </div>
</section>
{% endwith %}

{% with page=request.GET.pg|default:'' %}
<section id="edit_profile_section" class="section z_10">
    <div class="box center width_500">
        <form id="edit_profile_form" method="post" enctype="multipart/form-data" action="{% url 'edit_profile' request.user.pk %}">
            {% csrf_token %}
            <div class="box_head">
                <a class="box_head_title">{% trans 'Edit Profile' %}</a>
                <i class="fa fa-close box_head_cancel cur_pointer" onclick="close_section(edit_profile_section); clearUrl('{{ request.GET.pg }}');"></i>
            </div>
            <div class="box_body">
                <div class="field">
                    <label class="label">{% trans "First Name:" %}</label>
                    <input class="input cur_pointer font_light" value="{{ request.user.first_name }}" type="text" maxlength="150" name="first_name">
                </div>
                <div class="field">
                    <label class="label">{% trans "Last Name:" %}</label>
                    <input class="input cur_pointer font_light" value="{{ request.user.last_name }}" type="text" maxlength="150" name="last_name">
                </div>
                <div class="field">
                    <label class="label">{% trans "Biography:" %}</label>
                    <textarea class="input resize_none cur_text font_light" name="bio" type="text" maxlength="250" oninput="TextArea(this);">{{ request.user.bio }}</textarea>
                </div>
                <div class="field">
                    <label class="label">{% trans "Location:" %}</label>
                    <input class="input cur_pointer font_light" value="{{ request.user.location }}" type="text" maxlength="50" name="location">
                </div>
                <div class="field">
                    <label class="label">{% trans "Birth Date:" %}</label>
                    <input class="input cur_pointer font_light" value="{{ request.user.birth_date|date:'Y-m-d'}}" type="date" name="birth_date">
                </div>
                <div class="field">
                    <div class="horizontal">
                        <label class="label">{% trans "Gender:" %}</label>
                        <div class="custom-select width_100 right font_16 cur_pointer">
                            <select name="gender" class="right font_16 cur_pointer">
                                {% if request.user.gender == "MALE" %}
                                <option value="MALE" selected="{{ request.user.gender }}">{% trans "Male" %}</option>
                                {% elif request.user.gender == "FEMALE" %}
                                <option value="FEMALE" selected="{{ request.user.gender }}">{% trans "Female" %}</option>
                                {% else %}
                                <option value="NONE" selected="{{ request.user.gender }}">{% trans "None" %}</option>
                                {% endif %}
                                <option value="MALE">{% trans "Male" %}</option>
                                <option value="FEMALE">{% trans "Female" %}</option>
                                <option value="NONE">{% trans "None" %}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">{% trans "Image:" %}</label>
                    <input id="edit_post_form_image_input" class="input cur_pointer font_light" type="file" name="image" accept="image/*">
                </div>
            </div>
            <div class="box_footer">
                <button class="button cur_pointer" type="submit">{% trans "Save Profile" %}</button>
            </div>
        </form>
    </div>
</section>
{% endwith %}

<section id="image_section" class="section z_10" onclick="close_section(image_section);">
    <div class="image_section box center">
        <div class="box_body">
            <div class="field">
                <img id="image_section_image"/>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<a style="display:none;" id="trans_friend_requests">{% trans "FRIEND REQUESTS" %}</a>
<a style="display:none;" id="trans_sent_friend_requests">{% trans "SENT FRIEND REQUESTS" %}</a>
<a style="display:none;" id="trans_profile">{% trans "Profile" %}</a>
<a style="display:none;" id="trans_accept">{% trans "Accept" %}</a>
<a style="display:none;" id="trans_decline">{% trans "Decline" %}</a>
    {{ request.user.username|json_script:"json-userName" }}
    {{ request.user.email|json_script:"json-userEmail" }}
    {{ request.user.hash|json_script:"json-userHash" }}
    {% with friend=request.GET.dm|default:'' %}
        {% if friend != '' %}
            {{ roomToken|json_script:"json-roomToken" }}
            <script src="{% static 'scripts/rooms.js' %}"></script>
        {% endif %}
    {% endwith %}
    {% with post_detail=request.GET.pd|default:'' %}
        {% if post_detail != '' %}
            {{ post.hash|json_script:"json-postHash" }}
            <script src="{% static 'scripts/posts.js' %}"></script>
        {% endif %}
    {% endwith %}
<script src="{% static 'scripts/main.js' %}"></script>
<script src="{% static 'scripts/friends.js' %}"></script>
<script src="{% static 'scripts/notifications.js' %}"></script>
{% endblock scripts %}